<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwinAdventure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwinAdventureGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwinAdventureGUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwinAdventureUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAB5DA4B182B249B00FC0145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB5DA65182B249B00FC0145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD10E5A17EA851600F432E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD10E6F17EA957600F432E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD10E8B17EA9D8F00F432E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD10EA017EA9DBB00F432E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF8C82C182D03BC00DA3822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFDFF6B182D01B500D56BAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
